@model SystemOdonto.Models.Paciente

@{
    ViewData["Title"] = "Eliminar Paciente";
}

<h2 class="text-center">Eliminar Paciente</h2>

<h3>¿Estás seguro de que quieres eliminar este paciente?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PagoInicial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PagoInicial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mensualidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mensualidad)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>